.navMenu {
  width: 4.563rem;
  height: 4.875rem;
  margin: 0 0 0.958rem 9%;
  font-family: HelveticaNeue;
  font-size: 0.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.86;
  letter-spacing: normal;
  color: white;
}

.navMenu a:hover {
    color: #ffc004
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }