.flex-container {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  max-width: 1440px;
}

.logo {
  width: 4.728rem;
  height: 2.363rem;
  margin: 1.179rem 0 4% 0;
  object-fit: contain;
  background-color: var(--white);
}

.navMenu {
  width: 4.563rem;
  height: 4.875rem;
  margin: 0 0 1% 9%;
  font-family: HelveticaNeue;
  font-size: 0.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.86;
  letter-spacing: normal;
  color: white;
  cursor: pointer;
}

.navMenu li:hover {
  color: #ffc004;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.contactBtn {
  width: 8.688rem;
  top: 0;
  height: 2.625rem;
  margin: 1.563rem 11.5% 0 0;
  padding: 0.75rem 0.063rem 0.75rem 0;
  border: solid 1px white;
  color: white;
  background-color: transparent;
}

.contactBtn:hover {
  background-color: #ffc004;
}
